<a href="https://colab.research.google.com/github/marialuisamartins/PosGrad_Data_Analytics_FIAP/blob/main/AnaliseExploratoriaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fase 1: Data Analysis and Exploration

## Análise Exploratória de Dados

### Aula 1 - Aquisição e leitura de dados reais (Produção Hospitalar)

In [1]:
"""
De onde vem os dados:
Site DataSUS > TabNet > Assistência à Saúde > Produção Hospitalar (SIH/SUS) >
Dados Consolidados AIH (RD), por local de internação, a partir de 2008 >
Abrangência Geográfica: Brasil por Região e Unidade de Federação

*IH - Internação Hospitalar

Seleção:
Linha - Unidade da Federação
Coluna - Ano/mês atendimento e de processamento (serão geradas essas duas tabelas)
Conteúdo - Valor total
Períodos disponíveis - Janeiro de 2008 a Setembro de 2021 (data do vídeo da aula)

COPIA COMO .CSV - Faz o download (fazer para as duas abas)

"""

'\nDe onde vem os dados:\nSite DataSUS > TabNet > Assistência à Saúde > Produção Hospitalar (SIH/SUS) >\nDados Consolidados AIH (RD), por local de internação, a partir de 2008 >\nAbrangência Geográfica: Brasil por Região e Unidade de Federação\n\n*IH - Internação Hospitalar\n\nSeleção:\nLinha - Unidade da Federação\nColuna - Ano/mês atendimento e de processamento (serão geradas essas duas tabelas)\nConteúdo - Valor total\nPeríodos disponíveis - Janeiro de 2008 a Setembro de 2021 (data do vídeo da aula)\n\nCOPIA COMO .CSV - Faz o download (fazer para as duas abas)\n\n'

In [2]:
# A tabela de atendimento começa com dados de 1992 a de processamento começa de 2008, por que?

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv('/content/Processamento_Hospitalar.csv', encoding="ISO-8859=1", skiprows=3, sep=";", skipfooter=12, thousands=".", decimal=",")

# Essa variável dados é um DataFrame

# skip rows pra pular as primeiras 3 linhas de cabeçalho
# sep para considerar ponto e vírgula o separador
# skip footer para apagar as linhas "inúteis" no fim do arquivo, sem o total inclusive
# thousands para indicar a separação dos milhares com ponto e não vírgula
# decimal para separar decimais por vírgula

# Documentação para ajudar: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

<ipython-input-4-c6e4f0dd0c27>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv('/content/Processamento_Hospitalar.csv', encoding="ISO-8859=1", skiprows=3, sep=";", skipfooter=12, thousands=".", decimal=",")

In [5]:
dados.head()

# traz as 5 primeiras linhas

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
0,11 Rondônia,1388528.39,2931283.42,1541682.52,1525314.96,1645953.84,1406150.68,3065279.01,3231494.61,3117178.63,...,9858841.18,9806315.07,14946369.28,15552930.66,16269008.71,15380532.08,14228814.25,12427865.05,10345616.78,1.088060e+09
1,12 Acre,902416.00,1497206.26,1794028.48,1730469.42,1819443.92,1828496.00,2511754.59,2089107.14,2275708.53,...,3715723.12,3538427.92,4077045.92,6307616.67,6354514.15,3461663.11,4979239.30,4138751.64,-,4.752903e+08
2,13 Amazonas,4735529.42,7118990.57,8196635.49,8259378.42,7831399.90,8477273.62,9368858.72,9352532.70,9363099.35,...,21621697.26,26163677.75,23445832.76,23154039.32,26127701.15,26447055.27,24457791.81,22731356.54,19840265.30,2.061943e+09
3,14 Roraima,657889.53,777939.31,718688.03,839994.39,862347.96,832440.66,996693.09,894271.18,910424.17,...,3266928.47,3519773.73,4437161.10,5171370.92,4266254.94,3103979.88,3743330.65,3781921.16,3150835.05,3.525463e+08
4,15 Pará,18864744.11,19553758.20,21937342.70,20842829.69,23249952.88,23240687.56,24002223.56,23341218.03,25172261.32,...,38813794.18,39251569.26,40639703.77,46608262.09,55310881.51,48215050.10,45801750.84,43262884.30,14569318.55,4.968812e+09

In [6]:
dados.tail()

# traz as 5 últimas linhas

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
22,43 Rio Grande do Sul,30931325.46,57363420.01,51547794.07,56673338.49,48397733.07,52413429.62,56636376.98,56113054.70,55356224.30,...,1.200301e+08,1.119450e+08,1.343390e+08,1.445265e+08,1.473467e+08,1.483085e+08,1.498138e+08,1.345690e+08,120016574.60,1.361334e+10
23,50 Mato Grosso do Sul,5377392.11,7002472.61,8423933.19,8797487.68,9770421.80,10905392.18,10249299.82,9671553.45,10218511.05,...,2.201409e+07,2.524996e+07,2.602883e+07,2.684042e+07,2.864920e+07,3.392048e+07,3.155202e+07,3.631052e+07,32338424.49,2.516383e+09
24,51 Mato Grosso,4795299.01,8684882.23,7886243.14,8794109.79,9231645.40,10221763.77,9163314.28,9243148.81,9052354.89,...,1.948153e+07,1.906485e+07,2.428373e+07,3.107621e+07,3.188584e+07,3.318768e+07,3.894321e+07,3.776361e+07,27274369.25,2.386584e+09
25,52 Goiás,15310637.29,22258668.68,21442515.75,20921212.45,21615970.67,18270043.87,20540517.13,20650730.67,20868443.56,...,4.647390e+07,4.432946e+07,5.770139e+07,6.162324e+07,5.873777e+07,6.478946e+07,7.202116e+07,7.090287e+07,64176809.02,5.380181e+09
26,53 Distrito Federal,4745919.19,7632480.67,9647203.26,11098732.99,12891719.72,12850125.67,12565646.74,13710857.89,13165106.20,...,2.352705e+07,2.276695e+07,3.183192e+07,3.841012e+07,3.153282e+07,3.062936e+07,2.966272e+07,2.728877e+07,28509985.96,2.778457e+09

In [7]:
# médias por mês
dados.mean()

<ipython-input-7-9281e9742e59>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2008/Jan    1.512685e+07
2008/Fev    2.271016e+07
2008/Mar    2.459419e+07
2008/Abr    2.543196e+07
2008/Mai    2.651125e+07
                ...
2021/Mai    7.954007e+07
2021/Jun    8.272434e+07
2021/Jul    8.160132e+07
2021/Ago    7.503592e+07
Total       6.852328e+09
Length: 164, dtype: float64

In [8]:
# visão geral do dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 167 entries, Unidade da Federação to Total
dtypes: float64(164), object(3)
memory usage: 35.4+ KB

In [9]:
# para impedir a saída que está em notação científica (ex.: +07)
pd.options.display.float_format = "{:.2f}".format

In [10]:
# novos valores de média pós formatação
dados.mean()

<ipython-input-10-235e14dd1d0c>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2008/Jan     15126846.64
2008/Fev     22710158.12
2008/Mar     24594187.35
2008/Abr     25431957.83
2008/Mai     26511245.91
                ...
2021/Mai     79540074.51
2021/Jun     82724335.66
2021/Jul     81601322.73
2021/Ago     75035922.89
Total      6852328259.77
Length: 164, dtype: float64

In [11]:
# Desafio - mostrar a coluna mais recente de totas, independente de qual ela for
dados['2021/Set']

0      10345616.78
1                -
2      19840265.30
3       3150835.05
4      14569318.55
5       5032883.11
6        773480.42
7      36250671.51
8      20752326.97
9      75197971.95
10     24063936.32
11     24377900.38
12     83993757.90
13     19758417.78
14     12133818.13
15     99862227.64
16    193773519.61
17     38395547.28
18    128586740.23
19    393119442.09
20    121946453.33
21     83493556.56
22    120016574.60
23     32338424.49
24     27274369.25
25     64176809.02
26     28509985.96
Name: 2021/Set, dtype: object

In [12]:
# Bônus
# Se eu quisesse mais de uma coluna
dados.loc[:,['2021/Ago', '2021/Set']]

       2021/Ago      2021/Set
0   12427865.05   10345616.78
1    4138751.64             -
2   22731356.54   19840265.30
3    3781921.16    3150835.05
4   43262884.30   14569318.55
5    5263137.94    5032883.11
6    9735208.07     773480.42
7   41501696.81   36250671.51
8   27694895.48   20752326.97
9   75731882.46   75197971.95
10  32369373.29   24063936.32
11  28082449.35   24377900.38
12 102801016.63   83993757.90
13  24723159.91   19758417.78
14  14297739.10   12133818.13
15 110063581.34   99862227.64
16 241931842.85  193773519.61
17  44627947.75   38395547.28
18 133050914.66  128586740.23
19 460348563.01  393119442.09
20 178040081.29  121946453.33
21 102528877.83   83493556.56
22 134569009.29  120016574.60
23  36310521.96   32338424.49
24  37763607.95   27274369.25
25  70902865.44   64176809.02
26  27288766.94   28509985.96

In [13]:
# Se eu quisesse só algumas linhas dessas colunas (ex.: linhas 0 a 3)
dados.loc[0:3,['2021/Ago', '2021/Set']]

     2021/Ago     2021/Set
0 12427865.05  10345616.78
1  4138751.64            -
2 22731356.54  19840265.30
3  3781921.16   3150835.05

In [17]:
# Se eu não souber o nome da coluna
dados.iloc[:-2]

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
0,11 Rondônia,1388528.39,2931283.42,1541682.52,1525314.96,1645953.84,1406150.68,3065279.01,3231494.61,3117178.63,...,9858841.18,9806315.07,14946369.28,15552930.66,16269008.71,15380532.08,14228814.25,12427865.05,10345616.78,1088059702.25
1,12 Acre,902416.00,1497206.26,1794028.48,1730469.42,1819443.92,1828496.00,2511754.59,2089107.14,2275708.53,...,3715723.12,3538427.92,4077045.92,6307616.67,6354514.15,3461663.11,4979239.30,4138751.64,-,475290315.34
2,13 Amazonas,4735529.42,7118990.57,8196635.49,8259378.42,7831399.90,8477273.62,9368858.72,9352532.70,9363099.35,...,21621697.26,26163677.75,23445832.76,23154039.32,26127701.15,26447055.27,24457791.81,22731356.54,19840265.30,2061943006.93
3,14 Roraima,657889.53,777939.31,718688.03,839994.39,862347.96,832440.66,996693.09,894271.18,910424.17,...,3266928.47,3519773.73,4437161.10,5171370.92,4266254.94,3103979.88,3743330.65,3781921.16,3150835.05,352546288.71
4,15 Pará,18864744.11,19553758.20,21937342.70,20842829.69,23249952.88,23240687.56,24002223.56,23341218.03,25172261.32,...,38813794.18,39251569.26,40639703.77,46608262.09,55310881.51,48215050.10,45801750.84,43262884.30,14569318.55,4968811817.17
5,16 Amapá,1120973.34,1268740.33,974651.24,1141137.32,866346.18,1440978.95,1426659.48,1475551.38,1651341.43,...,2807807.85,2822559.17,3188210.98,3616822.40,4379596.14,3808085.03,5211715.56,5263137.94,5032883.11,337181964.14
6,17 Tocantins,3441592.69,4985688.85,6205612.60,4984482.09,5511002.46,4927934.22,5445602.28,5413710.38,5596669.50,...,7297673.11,9875312.13,10651036.24,9365632.90,9493726.37,10650363.76,9790960.71,9735208.07,773480.42,1110344733.46
7,21 Maranhão,10723506.39,13559679.41,13985142.36,14809416.46,14505727.38,14908091.32,15784899.40,15195312.89,14951277.75,...,31798852.85,32611445.91,44534337.62,50000737.43,52984947.37,50461554.99,50500013.97,41501696.81,36250671.51,4161325769.23
8,22 Piauí,7985142.43,10079928.25,10298372.45,10775976.33,10398360.88,10528253.88,11040107.92,10549176.40,10899198.97,...,22689390.32,20983255.97,21609265.95,27405790.99,30110761.69,31075168.71,29401741.26,27694895.48,20752326.97,2450508593.82
9,23 Ceará,15539821.90,25735101.55,28724625.75,30676457.06,30604453.47,31272395.18,30925391.36,27851438.72,30362719.90,...,52321247.96,56235209.03,68360158.15,78545339.50,86928378.41,109909481.08,90387647.21,75731882.46,75197971.95,7118540187.61
10,24 Rio Grande do Norte,5947814.08,9509755.83,10352238.59,10855108.50,11160168.19,10475071.38,11386349.96,10640817.47,11336030.28,...,28074416.33,26581525.53,28444100.38,35930307.69,36764212.60,36708007.18,35989101.68,32369373.29,24063936.32,2867428082.03
11,25 Paraíba,10723002.45,11386274.47,12053643.87,12653528.76,12215107.11,12256928.49,12755413.77,12872578.37,12558296.11,...,19552670.55,21541160.93,26404374.31,29577403.03,34735632.48,34231692.36,29827487.76,28082449.35,24377900.38,2796673182.96
12,26 Pernambuco,14393949.89,24181400.95,29991302.71,34806197.97,32147987.35,32239094.89,32685640.76,35457038.66,33668261.46,...,83913852.46,78196525.89,87933693.44,103958119.10,123109445.78,125407650.08,114971565.52,102801016.63,83993757.90,9243658123.01
13,27 Alagoas,6243726.32,8376622.16,8408336.22,9090794.82,9338771.45,10068210.08,9887061.61,9373432.00,9563580.50,...,17548566.67,18587484.37,22323051.11,26826283.56,29651474.26,28155677.93,28992503.97,24723159.91,19758417.78,2394793268.76
14,28 Sergipe,2780750.11,3676483.16,5051473.61,5046063.36,4741151.56,5401259.63,5521904.44,5238398.50,5187912.19,...,12060864.70,13226099.48,13507023.71,14928721.85,17724664.13,19633473.10,18894097.84,14297739.10,12133818.13,1313873341.39
15,29 Bahia,21211522.47,28189304.95,34181483.52,39026934.13,42949566.82,47025972.04,47481695.17,46931248.28,44883379.31,...,80041951.06,82385385.11,102012674.19,115544714.12,115405581.37,129189696.08,132882815.55,110063581.34,99862227.64,10498497979.38
16,31 Minas Gerais,45671659.76,70194037.10,79231336.95,77136537.58,80554440.63,94758522.83,85360064.11,84722528.10,84601757.95,...,184123139.56,187320528.81,211478924.61,239221992.33,251148575.23,265282411.52,258578548.60,241931842.85,193773519.61,21899546392.60
17,32 Espírito Santo,5456723.98,9102212.86,10249595.97,11253833.56,10198619.17,13364258.29,13035374.08,12588595.77,12727433.30,...,40954654.87,42374636.17,48195829.47,55037350.24,54019586.79,51416562.54,54431417.37,44627947.75,38395547.28,3710941856.86
18,33 Rio de Janeiro,23025258.52,28394310.93,44567062.94,44054604.82,44911021.15,48056212.24,49872379.35,50912706.60,49270352.76,...,94360352.53,92977068.51,113354995.98,119301740.74,133925004.72,133147569.87,132215973.66,133050914.66,128586740.23,11131869791.16
19,35 São Paulo,91678473.48,148677526.82,156087269.23,161227125.43,187119397.64,187291126.07,194398399.48,184854516.35,188636359.55,...,356097158.62,350366878.19,406866741.08,474279794.22,510118421.51,522748386.07,515461288.66,460348563.01,393119442.09,44290985780.46
20,41 Paraná,38266347.46,55384670.52,53801318.85,52460306.69,54419620.71,57811688.48,58094241.83,56982774.90,57549082.26,...,123528504.44,133636140.75,141385533.73,156532484.08,166203382.79,179677707.75,182949734.92,178040081.29,121946453.33,15672157558.11
21,42 Santa Catarina,16504913.45,25651429.11,26743524.89,27181488.26,26845308.18,29909762.04,30789135.84,31250854.33,30019676.93,...,72929775.60,75923295.76,85387122.77,88004351.85,84397945.20,94609849.23,97545214.53,102528877.83,83493556.56,8392938841.37
22,43 Rio Grande do Sul,30931325.46,57363420.01,51547794.07,56673338.49,48397733.07,52413429.62,56636376.98,56113054.70,55356224.30,...,120030087.25,111945006.22,134338985.55,144526500.98,147346694.16,148308467.84,149813849.99,134569009.29,120016574.60,13613341350.00
23,50 Mato Grosso do Sul,5377392.11,7002472.61,8423933.19,8797487.68,9770421.80,10905392.18,10249299.82,9671553.45,10218511.05,...,22014085.88,25249961.65,26028833.50,26840420.75,28649201.59,33920480.87,31552023.11,36310521.96,32338424.49,2516383489.01
24,51 Mato Grosso,4795299.01,8684882.23,7886243.14,8794109.79,9231645.40,10221763.77,9163314.28,9243148.81,9052354.89,...,19481528.85,19064853.12,24283725.76,31076211.12,31885835.07,33187675.05,38943213.02,37763607.95,27274369.25,2386584382.72

In [33]:
# definindo o que são as colunas https://pandas.pydata.org/docs/user_guide/style.html
meses = [col for col in dados.columns if col not in ['Unidade da Federação', 'Total']]

# to_datetime() converts a scalar, array-like, Series or DataFrame/dict-like to a pandas datetime object.
colunas = pd.to_datetime(meses, format="/%Y/%m")

# argmax() return int position of the largest value in the Series.
coluna_mais_recente = colunas_meses[colunas.argmax()]

# pegando os dados da coluna mais recente
valores_mais_recentes = dados[coluna_mais_recente]

print(valores_mais_recentes)

ValueError: time data '2008/Jan' does not match format '/%Y/%m' (match)